 html {
 	background-color: rgba(255, 255, 255, 0.897);
 }

 body {
 	width: 75%;
	margin: 0 auto; 

	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: white;
 }

 #cute_burger {
 	display: block;
    margin: auto;
 }

 h1 {
 	text-align: center;
 	font-family: 'Comic Sans MS', cursive;
 	font-size: 65px;
 	margin: 50px;
 }

 .burgerAvailable {
 	font-family: 'Comic Sans MS', cursive;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 25px;
 	width: 100%;
 	margin: 10px;
 	padding: 10px;
 	background-color: #c72424;
 	border: none;
 }

 .burgerAvailable:hover {
 	background-color: #b8ced4;
 }

 .burgerEaten {
 	font-family: 'Comic Sans MS', cursive;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 25px;
 	margin: 10px;
 	padding: 10px;
 	background-color: #5217c0;
 }

 h2 {
  	text-align: center;
 	font-family: 'Comic Sans MS', cursive;
 	font-size: 40px;
 	margin: 50px;
 }

 .formContainer {
 	background-color: rgb(80, 177, 60);
 }

 .addBurgerButton {
 	font-family: 'Comic Sans MS', cursive;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 25px;
 	width: 100%;
 	margin: 0;
 	padding: 10px;
 	background-color: rgb(80, 177, 60);
 	border: none;
 }

.addBurgerButton:active {
	background-color: rgb(80, 177, 60);
}

